@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
  display: block;
  position: relative;
}
/* 헤더 */
.header {
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ddd;
}
.header-logo {
  width: 200px;
  height: 40px;
  background-color: yellowgreen;
  margin-left: 50px;
}
.gnb {
  display: flex;
  align-items: center;
  padding-right: 100px;
  position: relative;
  justify-content: space-between;
  width: 700px;
  height: 40px;
}
.gnb li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  background-color: yellowgreen;
}
.gnb li:hover {
  background-color: violet;
}
.gnb ul {
  display: flex;
  position: absolute;
}

/* 슬라이드 */
.slide {
  width: 100%;
  height: 300px;
  display: block;
  position: relative;
  background-color: #eed;
}
/* 콘텐츠 */
.content {
  width: 100%;
  height: 200px;
  display: block;
  position: relative;
  background-color: #eef;
}
/* 푸터 */
.footer {
  width: 100%;
  height: 100px;
  display: block;
  position: relative;
  background-color: #eea;
}
